Repository SaschaStg/swipefood: changes, and which GitLab CI jobs are due for each by the changed paths.
All: no-code-changes, lint:frontend, lint:backend, build:frontend, build:backend, build:migrations, test:backend

Path conditions:
  no-code-changes: (not (any of: frontend/**/*, backend/**/*, .gitlab-ci.yml)) and (any of: README.md, docker-compose.yaml, .gitignore)
  lint:frontend: any of: frontend/**/*, .gitlab-ci.yml
  lint:backend: any of: backend/**/*, .gitlab-ci.yml
  build:frontend: any of: frontend/**/*, .gitlab-ci.yml
  build:backend: any of: backend/**/*, .gitlab-ci.yml
  build:migrations: any of: backend/migrations/**/*, .gitlab-ci.yml
  test:backend: any of: backend/**/*, .gitlab-ci.yml

chore(backend): remove obsolete test
  backend/test/app.e2e-spec.ts
Due: lint:backend, build:backend, test:backend

ci(backend): add e2e tests
  .gitlab-ci.yml
  backend/package.json
Due: lint:frontend, lint:backend, build:frontend, build:backend, build:migrations, test:backend

fix(backend): separate existence and ownership checks
  backend/src/images/images.service.ts
Due: lint:backend, build:backend, test:backend

chore(backend): remove deprecated endpoint
  backend/src/users/dto/diet-update.dto.ts
  backend/src/users/dto/index.ts
  backend/src/users/users.controller.ts
  backend/src/users/users.service.ts
Due: lint:backend, build:backend, test:backend

Add Members / Project Abstract / Usage
  README.md
Due: no-code-changes

Add Member
  README.md
Due: no-code-changes

add Testing
  README.md
Due: no-code-changes

fix(backend): actually add login methods on demo init
  backend/src/auth/auth.module.ts
  backend/src/demo/demo.module.ts
  backend/src/demo/demo.service.ts
Due: lint:backend, build:backend, test:backend

fix(backend): actually return demo login data
  backend/src/demo/demo.controller.ts
Due: lint:backend, build:backend, test:backend

chore: finish README.md
  README.md
Due: no-code-changes

Update README.md
  README.md
Due: no-code-changes
